{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% block headline %}My headline will go here{% endblock headline %}

{% block byline %}Michael Fioritto{% endblock byline %}

{% block pubdate %}<time datetime="2024-07-17" pubdate>July 17, 2024</time>
{% endblock pubdate %}

{% block content %}
{% for obj in homicides %}
  <div class-"card">
      <div class="card body">
        <h5 class="card-title">{{ obj.HOMICIDE_VICTIM_FIRST_NAME }} {{ obj.HOMICIDE_VICTIM_LAST_NAME }}</h5>
      </div>
    </div>
{% endfor %}
{% endblock content %}
