{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% block headline %}Chicago Homicides{% endblock headline %}

{% block byline %}Michael Fioritto{% endblock byline %}

{% block pubdate %}<time datetime="2024-07-17" pubdate>July 17, 2024</time>
{% endblock pubdate %}

{% block content %}
<div id="map"></div>

<h3>Kenwood and Hyde Park</h3>
<p>
  Overall homicide rates in Chicago rose starting in 2015, approaching rates last seen in the 1990s. While in Kenwood and Hyde Park, adjacent neighborhoods on the south side of the city, the homicide rates have mostly declined since the 1990s. There was a slight uptick in 2021 similar to what occurred citywide, but the homicide rate for the past two years remains lower for Kenwood and Hyde Park than other nearby communities.
</p>
<div class="graphics-container">
  <div class="graphic">
    <iframe title="Chicago Homicides, 1991- 2024" aria-label="Column Chart" id="datawrapper-chart-XDaI4" src="https://datawrapper.dwcdn.net/XDaI4/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="411" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
    </script>
  </div>
  <div class="graphic">
    <!-- second graphic’s embed code goes here -->
    <iframe title="Homicides in Kenwood/HydePark 1991 - 2024" aria-label="Column Chart" id="datawrapper-chart-MkZXz" src="https://datawrapper.dwcdn.net/MkZXz/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="411" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
    </script>
  </div>
</div>

<h3>Lives lost in Kenwood and Hyde Park</h3>
<p>
  There have been {{ homicides|length }} homicides in Kenwood and Hyde Park since 1991. Victims were predominately black and male. Victims aged 20-30 represented more than 50% of all cases, while 17% of victims were under the age of 20.
</p>
<div class="row" data-masonry='{"percentPosition": true }'>
  {% for obj in homicides %}
  <div class="col-sm-6 col-lg-4 mb-4">
  <div class="card">  
      <div class="card-body">
        <strong>
          <h5 class="card-title">{{ obj.HOMICIDE_VICTIM_FIRST_NAME }} {{ obj.HOMICIDE_VICTIM_LAST_NAME }}</h5>
        </strong>
        <p class="card-text">{{ obj.HOMICIDE_VICTIM_LAST_NAME }}, a {{ obj.AGE }}-year-old {{ obj.RACE }} {{ obj.SEX }}, died in {{ obj.DATE }}.</p>
        <p class="card-text"><a href="https://www.google.com/maps/search/?api=1&query={{ obj.LATITUDE}},{{ obj.LONGITUDE}}">Location</a></p>
      </div>
  </div>
  </div>
    {% endfor %}
</div>
{% endblock content %}
