{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% block headline %}My headline will go here{% endblock headline %}

{% block byline %}Michael Fioritto{% endblock byline %}

{% block pubdate %}<time datetime="2024-07-17" pubdate>July 17, 2024</time>
{% endblock pubdate %}

{% block content %}
<h3>Lives lost in Kenwood and Hyde Park</h3>
<p>
  The {{ homicides|length }} homicides in Kenwood and Hyde Park since 1996
  were primarily black and Latino males, but the list includes husbands, wives,
  fathers, and mothers.
</p>
<div class="row" data-masonry='{"percentPosition": true }'>
  {% for obj in homicides %}
  <div class="col-sm-6 col-lg-4 mb-4">
  <div class-"card">  
      <div class="card body">
        <strong>
          <h5 class="card-title">{{ obj.HOMICIDE_VICTIM_FIRST_NAME }} {{ obj.HOMICIDE_VICTIM_LAST_NAME }}</h5>
        </strong>
        <p class="card-text">{{ obj.HOMICIDE_VICTIM_LAST_NAME }}, a {{ obj.AGE }}-year-old {{ obj.RACE }} {{ obj.SEX }}, died in {{ obj.DATE }}.</p>
      </div>
  </div>
  </div>
    {% endfor %}
</div>
{% endblock content %}
